.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("background.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        z-index: 10;
        position: relative;
        /* Add padding equally for left and right */
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
    }

    h2 {
      margin: 20px;
    }

    p {
      font-size: 20px;
    }

    .input {
      width: 100%;
      max-width: 600px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 60px;
      border-radius: 5px;
      border: 1px solid red;

      input {
        flex: 8;
        height: 100%;
        border: none;
        padding: 0 15px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 18px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .registerButton {
        flex: 2;
        height: 100%;
        background-color: red;
        border: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 3px;
      }
    }
  }
}
